body {
    font-family: Arial;
    background: linear-gradient(to right, #74ebd5, #535a75);
    text-align: center;
    padding: 50px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px gray;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
}